SilverlightApplication3/SilverlightApplication3/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:50209/Service1.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:50209/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50209/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmployeeEntity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Service1_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="Service1_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_Employee_InputMessage">
    <wsdl:part name="parameters" element="Employee" />
  </wsdl:message>
  <wsdl:message name="Service1_Employee_OutputMessage">
    <wsdl:part name="parameters" element="EmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="SelectAll" />
  </wsdl:message>
  <wsdl:message name="Service1_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="SelectAllResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:Service1/DoWork" message="Service1_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service1/DoWorkResponse" message="Service1_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Employee">
      <wsdl:input wsaw:Action="urn:Service1/Employee" message="Service1_Employee_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service1/EmployeeResponse" message="Service1_Employee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <wsdl:input wsaw:Action="urn:Service1/SelectAll" message="Service1_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service1/SelectAllResponse" message="Service1_SelectAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>