Employee3Tier/EmployeeSilverlight/Service References/ServiceReference1/EmployeeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50085/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Employee3Tier" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Employee3Tier" minOccurs="0" name="e" nillable="true" type="q1:Emp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoWorkResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>